.jumbotron {
  background-image: url("/assets/jumbo_sea.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.photos{
  border-radius: 5px;
  width: 400px;
  height: 350px;
  object-fit: cover;
}

a.thumb-caption{
  text-decoration: none;
  color: #000;
  font-size: 17px;
  word-break: break-all;
}

.prof__left{
  border: lightgray 1px solid;
  height: auto;
  &__avatar{
    border-radius: 50%;
  }
  &__user-name{
    font-size: 25px;
    text-align: center;
  }
}

