<div class = "container-fulied">
  
    <div class = "row main-title ">
      <h1 class="text-monospace">Portfolio</h1>
    </div>

  <div class = "container-fulied">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

        <%= render @users %>

    </div>
  </div>
</div>