<div class = "wrapper">
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/junko.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">伝説の昭和のアイドル</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/junko.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">紺野純子</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/junko.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ゾンビ４号</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/junko.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">昭和のアイドル</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/junko.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Junko</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/yukari-yysk.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kawaii</h5>
          <p class="card-text">myon myon</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
        <img src="/assets/yukari-yysk.gif" class="img-thumbnail" alt="...">
    </div>
    <div class="col mb-4">
        <img src="/assets/junko.jpg" class="img-thumbnail" alt="...">
    </div>
    <figure class="figure">
      <img src="/assets/junko.jpg" class="figure-img img-fluid rounded" alt="一般的な角丸イメージ">
      <figcaption class="figure-caption">上の画像のキャプション</figcaption>
    </figure>
  </div>
  <%# <div class="footer">
    <nav class="navbar fixed-bottom navbar-light bg-dark">
      <a class="navbar-brand text-light" href="#">ふったー</a>
    </nav>
  </div> %>
</div>


    
  