<div class="col py-3">
  <figure class="figure position-relative">
    <a href="<%= post.image %>" data-lightbox="roadtrip" >
      <img class = "photos img-fluid" src="<%= post.image %>" alt="(´・ω・｀)画像でした">
    </a>
    <figcaption class="figure-caption pb-2">
      <p class="thumb-caption"> <%= post.title %> </p>
    </figcaption>
  </figure>
</div>

