<div class="col py-3">
  <figure class="figure shadow-sm position-relative">
    <img class = "photos img-fluid" src="<%= post.image %>" alt="">
    <figcaption class="figure-caption pb-3 font-weight-bold">
      <%= link_to "#{post.user.name}", user_path(post.user.id), class: "stretched-link thumb-caption" %>
    </figcaption>
  </figure>
</div>