<div class="col py-3">
  <figure class="figure position-relative">
    <img class = "photos img-fluid" src="<%= post.image %>" alt="">
    <figcaption class="figure-caption pb-2">
      <%= link_to "#{post.title}", post_path(post.image), class: "stretched-link thumb-caption" %>
    </figcaption>
  </figure>
</div>




<%# post.user.name/user_path(post.user.id) %>