<div class = "container-fulied">
  <%= render "header" %>
  <div class = "container">
    <div class = "main-title">
      <h1 class="text-monospace">Portfolio</h1>
    </div>
  </div>
  <div class = "container-fulied">
    <%= render "main_content" %>
  </div>
</div>